<section class="border rounded border-blue">
  <div id="counter"
     x-data="{count: 0}"
     x-init="() => {
        $watch('count', value => {
          console.log('The count is now ' + value)
        })
      }">
  <h1>The count is: <span x-text="count"></span></h1>
  <h1 x-show="count > 100">The count is greater than 100</h1>
  <button x-on:click="count = count - 1"> Decrement </button>
  <button @click="count = count + 1"> Increment </button>
</div>
</section>